<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118191552018174034716</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118191552018174034716</string>
	<key>API_KEY</key>
	<string>AIzaSyBjKLmnOpQrStUvWxYz123456789AbCdEf</string>
	<key>GCM_SENDER_ID</key>
	<string>297468516837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wered</string>
	<key>PROJECT_ID</key>
	<string>dhikr-app-f8c40</string>
	<key>STORAGE_BUCKET</key>
	<string>dhikr-app-f8c40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297468516837:ios:e1a3b4c5d6f7g8h9i0j1k2</string>
</dict>
</plist>
